* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.maincontainer {
    height: 100vh;
    transition: 0.3s;
}

header {
    display: flex;
    justify-content: center;
    height: 40px;
}

header > h2 {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    position: relative;
    left: 30%;
}